/* Estilo específico para a área de register */

.register-header {
  background-color: #cdcdcd;
  color: #fffde8;
  padding: 20px 0;
  text-align: center;
}

.register-main {
  padding: 40px 0;
  background-color: #fffde8;
  min-height: 80vh;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.container h2 {
  color: #000000;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, #31492f, #45be4b, #31492f);
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
