/* Estilo específico para a área de register */

.register-header {
  background-color: #cdcdcd;
  color: #fffde8;
  padding: 20px 0;
  text-align: center;
}

.register-main {
  padding: 40px 0;
  background-color: #fffde8;
  min-height: 80vh;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.container h2 {
  color: #6e463b;
}

/* tirei por que nao ta fazendo nada
#login-section,
#dashboard-section {
  background: #1406db;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(7, 224, 80, 0.1);
  max-width: 400px;
  margin: 0 auto;
}*/

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, #31492f, #45be4b, #31492f);
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/*transition: background 0.3s ease-in-out;*/
/* terei pois nao esta servindo pra nada no momento
.btn:hover {
    background-color: #140d11;
}*/

/* Estilo dos cards do dashboard 
.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}*/
